
FLASK_ENV=production

#for demo mode to work set your-domain in the MPESA_CALLBACK_URL 
DEMO_MODE=true 

DATABASE_URL=sqlite:///db.db

#to add the cost for each tier, go to PaymentPush.py function
ALLOWED_TIERS=20,40,80 
MAXIMUM_RENTAL_DAYS=30
CHARGER_NUMBER_LENGTH=4
BATTERY_NUMBER_LENGTH=12
PHONE_NUMBER_LENGTH=12
RENTAL_DAILY_LIMIT=240

ENERGY_COST=0.028
CAPACITY_BAT=600

# Get your own credentials from Safaricom Developer Portal and replace the placeholders below
# You can create an account here: https://developer.safaricom.co.ke/
MPESA_SHORTCODE=your_shortcode
MPESA_PASSKEY=your_passkey
CONSUMER_KEY=your_consumer_key
CONSUMER_SECRET=your_consumer_secret
MPESA_STK_URL=https://api.safaricom.co.ke/mpesa/stkpush/v1/processrequest
MPESA_CALLBACK_URL=https://your-domain.com/mpesa/callback 

BYPASS_PHONE_NUMBER_ONE =254000000000
BYPASS_PHONE_NUMBER_TWO =254000000000

THIRD_PARTY_IOT_URL_BATTERY=http://your-domain-for-battery-data-display
THIRD_PARTY_IOT_URL_CHARGER=http://your-domain-for-charger-data-display

BATTERY_API_BASE_URL=https://example.com
BATTERY_API_USERNAME=your_username
BATTERY_API_PASSWORD=your_password